@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "~react-image-gallery/styles/css/image-gallery.css"; */

/* @import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&'); */

/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&'); */
@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;700&display=swap");

@font-face {
  font-family: "satoshi regular";
  src: url("/fonts/Satoshi-Regular.woff"), url("/fonts/Satoshi-Regular.woff");

  font-display: swap;
}
@font-face {
  font-family: "satoshi medium";
  src: url("/fonts/Satoshi-Medium.woff"), url("/fonts/Satoshi-Medium.woff");

  font-display: swap;
}
@font-face {
  font-family: "satoshi bold";
  src: url("/fonts/Satoshi-Bold.woff"), url("/fonts/Satoshi-Bold.woff");

  font-display: swap;
}
@font-face {
  font-family: "satoshi black";
  src: url("/fonts/Satoshi-Black.woff"), url("/fonts/Satoshi-Black.woff");

  font-display: swap;
}
body {
  font-family: "satoshi regular";
}
html {
  scroll-behavior: smooth;
}
.font-asap {
  font-family: "Asap", sans-serif !important;
}
.font-normal {
  font-family: "satoshi regular";
}
.font-medium {
  font-family: "satoshi medium";
}
.font-bold {
  font-family: "satoshi bold";
}
.font-black {
  font-family: "satoshi black";
}
.bogold {
  font-family: "Agdasima", sans-serif;
  font-weight: 600 !important;
}

.Pacifico {
  font-family: "Pacifico", cursive;
}

.fixed-height-thumbnail {
  height: 200px;
  object-fit: cover;
}

.fixed-height-original {
  height: 400px;
  object-fit: cover;
}

.gallery-container {
  max-width: 600px;
  /* Adjust the container width as needed */
  margin: 0 auto;
}

.image-gallery-slide .image-gallery-image {
  width: 80% !important;
  margin: 0 auto !important;
}

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
  --primarycolor: ;
}

[data-theme="dark"] {
  --background: black;
  --foreground: white;
}

/* .bgsubscrube {
  background-image: url(../public/images/Subscribe.png);
} */

.line-clamps {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-card {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 50px !important;
}

.image-gallery-thumbnail {
  border-radius: 5px !important;
  background: #f4f4f4 !important;
  margin: 0 10px !important;
}

.image-gallery-thumbnails .image-gallery-thumbnails-container {
  cursor: pointer;
  text-align: center;
  position: absolute;
  left: 0;
  white-space: nowrap;
  right: 0;
  bottom: 0px;
}

.image-gallery-left-nav,
.image-gallery-right-nav {
  top: 93% !important;
}

@media (max-width: 768px) {
  .image-gallery-thumbnail {
    width: 50px !important;
  }
}

.themeButton {
  color: #9333ea;
}

.red .themeButton {
  color: #dc2626;
}

.red .themebackground {
  background-color: #dc2626;
}

.blue .themeButton {
  color: #2563eb;
}

.fuchsia .themeButton {
  color: #c026d3;
}

.cyan .themeButton {
  color: #0891b2;
}

.sky .themeButton {
  color: #0284c7;
}

.green .themeButton {
  color: #16a34a;
}

.indigo .themeButton {
  color: #4f46e5;
}

.violet .themeButton {
  color: #7c3aed;
}

.detailshadow {
  box-shadow: 0px 6.960000038146973px 26px 0px rgba(0, 0, 0, 0.19);
}

.Satoshi {
  font-family: "Satoshi", sans-serif;
}

/* h1,
h2,
h3,
h4,
.para {
  font-family: "Satoshi", sans-serif;
  font-weight: 700 !important;
} */

.wadbtn {
  border-radius: 100px;
  background: linear-gradient(32deg, #f42d32 68.96%, #fccb4c 100%);
  box-shadow: 0px 25px 30px 0px rgba(21, 0, 53, 0.16);
}
.subscribebtn {
  background: var(
    --gradient-2,
    linear-gradient(45deg, #f42d32 68.96%, #fccb4c 100%)
  );
}
.slider-section .slick-dots {
  position: absolute;
  bottom: -40px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slider-section .slick-dots li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slider-section .slick-dots li button:before {
  font-family: "slick";
  font-size: 10px;
  line-height: 20px;
  position: absolute;
  border-radius: 10px !important;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  text-align: center;
  opacity: 1;
  color: #dbdbdb !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slider-section .slick-dots li.slick-active button:before {
  opacity: unset !important;
  color: #f42d32 !important;
  font-size: 10px;
}

.festuredC {
  box-shadow: 0px 21px 204px 0px rgba(0, 0, 0, 0.1);
}

.cardbgdark {
  border-radius: 26px;
  background: rgba(70, 70, 70, 0.09);
  box-shadow: -3.013333320617676px 3.013333320617676px 3.013333320617676px 0px
      rgba(255, 255, 255, 0.39) inset,
    2.009999990463257px -2.009999990463257px 20px 0px rgba(214, 214, 214, 0.17) inset;
  backdrop-filter: blur(37.21466827392578px);
}

.textleanir {
  /* background: linear-gradient(70deg, #F42D32 68.96%, #FCCB4C 100%); */

  background: -webkit-linear-gradient(42deg, #f42d32 40.96%, #fccb4c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 0px 25px 30px 0px rgba(21, 0, 53, 0.16);
  font-weight: 900;
  line-height: normal;
}
@media (max-width: 991px) {
  .bgLinear {
    background: linear-gradient(32deg, #f42d32 68.96%, #fccb4c 100%);
  }
}
.animateUpDown {
  animation: MoveUpDown 4s linear infinite;
  position: absolute;
   left: 0;
 }

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 50px;
  }
}
.circleRotaion {
  animation: circle 15s linear infinite;
}
@keyframes circle {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Apply styles to the paragraph when specific label is hovered */
.para .hovered:hover {
  /* Your hover styles here */
  color: red; /* For example */
}
.stakingbg1 {
  background: linear-gradient(46deg, #bb0100 0%, #f42d32 68.03%, #ffcd2c 100%);
  border-radius: 30px / 10px;
}
.stakingbg2 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.17) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.hovered-div {
  /* Apply your desired styles here */
  /* For example, change background color */
  border: 3px solid #000;
  border-radius: 20px;
  transform: rotate3d();
}
.dd {
  background: var(
    --gradient-2,
    linear-gradient(45deg, #f42d32 68.96%, #fccb4c 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bullet li {
  font-size: 1.2em;
  list-style-image: url("/images/dot.svg");
}
.bullet li::marker {
  font-size: 3.6em;
  line-height: 0.1;
}
.roadmaptext {
  opacity: 0.4;
  background: var(
    --gradient-2,
    linear-gradient(45deg, #f42d32 68.96%, #fccb4c 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.stakingtext {
  background: var(
    --gradient-for-illustration,
    linear-gradient(45deg, #f42d32 68.96%, #fccb4c 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.walletbg{
 background: var(--gradient-2, linear-gradient(45deg, #F42D32 68.96%, #FCCB4C 100%));
box-shadow: 0px 25px 30px 0px rgba(21, 0, 53, 0.16);
}
.tokenomicsbg{
  background: linear-gradient(45deg, #F42D32 22.18%, #FCCB4C 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.tokenText{
  background: var(--gradient-1, linear-gradient(10deg, #F42D32 68.96%, #FCCB4C 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  }
.herotext{
  background: var(--gradient-for-illustration, linear-gradient(45deg, #F42D32 0%, #FCCB4C 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.quartertext{
  background: var(--gradient-for-illustration, linear-gradient(45deg, #F42D32 0%, #FCCB4C 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.comunitybg {
 background: var(--gradient-for-illustration, linear-gradient(45deg, #F42D32 0%, #FCCB4C 100%));
}
.roadmapbg{
  border-radius: 168.783px;
background: linear-gradient(40deg, rgba(255, 184, 0, 0.74) 0%);
filter: blur(358.5185241699219px);
}